/* Reset */
html,
body,
#root {
  margin: 0;
  height: 100%;
}

/* App layout */
.app-root {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

/* Gradient container */
.app-main {
  flex: 1;
  background: linear-gradient(
    135deg,
    rgba(236, 238, 255, 0.94) 0%,
    rgba(226, 205, 227, 0.89) 100%
  );
}
